body {
    background: #5e39b3;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #182848, #4b6cb7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, p, a {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
    line-height:.3;
    color: white;
    font: bold;
}
.contenido {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
}
h1 {
    font-size: 2.3rem;
}
a {
    font-size: 1.4rem;
}
p {
    font-size: 1.2rem;
    color: rgb(228, 95, 18);
    font: bold;
}

table {
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

button {
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 100%;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1.5px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-bottom: 3px;
}

.hashtag {
    font-family: Arial, Helvetica, sans-serif;
}

.hello {
    color: rgb(14, 10, 231);
    font: bold;
}

.hello2 {
    color: rgb(231, 10, 58);
    font: bold;
}

.formulas {
    color: rgb(21, 107, 9);
    height: 90%;
    width: 90%;
    max-width: 550px;
}

.img-border {
    width: 90%;
    max-width: 825px;
    margin-left: 5%;
    margin-right: 5%;
}

.logo-border {
    margin-top: 1%;
    width: 90%;
    max-width: 525px;
    margin-left: 5%;
    margin-right: 5%;
}

.newton {
    color: rgb(228, 95, 18);
}

.logo-border2 {
    margin-top: 1%;
    width: 90%;
    max-width: 150px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
}

.azure {
    font-size: 1.2rem;
    color: #5e39b3;
    font: bold;
    
}