body {
    background: #5e39b3;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #182848, #4b6cb7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, p, a {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
    line-height:.3;
    color: white;
    font: bold;
}
.contenido {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
}
h1 {
    font-size: 2.3rem;
}
a {
    font-size: 1.4rem;
}
p {
    font-size: 1.2rem;
    color: rgb(228, 95, 18);
    font: bold;
}

table {
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

button {
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 100%;
}

.hashtag {
    font-family: Arial, Helvetica, sans-serif;
}

.hello {
    color: rgb(14, 10, 231);
}